# // /////////////////////////////////////////////////////////////////////////////
# // ignore terraform state file
# // /////////////////////////////////////////////////////////////////////////////

# example
operations/azurebooks/example/.terraform/
operations/azurebooks/example/terraform.tfstate
operations/azurebooks/example/terraform.tfstate.backup
operations/azurebooks/example/.terraform.*
operations/azurebooks/example/terraform.tfstate.d

# subt
operations/azurebooks/subt/main.tf
operations/azurebooks/subt/.terraform/
operations/azurebooks/subt/terraform.tfstate
operations/azurebooks/subt/terraform.tfstate.backup
operations/azurebooks/subt/.terraform.*
operations/azurebooks/subt/terraform.tfstate.d

# admin
operations/azurebooks/admin/.terraform/
operations/azurebooks/admin/terraform.tfstate
operations/azurebooks/admin/terraform.tfstate.backup
operations/azurebooks/admin/.terraform.*
operations/azurebooks/admin/terraform.tfstate.d

# example subt launch -- force adding any new catkin tools configs
subt_launch/.catkin_tools/

# ignore all downloaded azure thirdparty libraries
docker/dockerfiles/thirdparty-software/download/
docker/dockerfiles/thirdparty-software/azure_download/

# // /////////////////////////////////////////////////////////////////////////////
# // other
# // /////////////////////////////////////////////////////////////////////////////

todo.TODO
todo-tmp.TODO
reorganization-first-draft.txt
scripts.TODO
.vscode/
notes.txt
