# // /////////////////////////////////////////////////////////////////////////////
# // ignore terraform state file
# // /////////////////////////////////////////////////////////////////////////////

# example
azurebooks/example/.terraform/
azurebooks/example/terraform.tfstate
azurebooks/example/terraform.tfstate.backup
azurebooks/example/.terraform.*
azurebooks/example/terraform.tfstate.d

# subt
azurebooks/subt/main.tf
azurebooks/subt/.terraform/
azurebooks/subt/terraform.tfstate
azurebooks/subt/terraform.tfstate.backup
azurebooks/subt/.terraform.*
azurebooks/subt/terraform.tfstate.d

# admin
azurebooks/admin/.terraform/
azurebooks/admin/terraform.tfstate
azurebooks/admin/terraform.tfstate.backup
azurebooks/admin/.terraform.*
azurebooks/admin/terraform.tfstate.d

# ignore all downloaded azure thirdparty libraries
docker/dockerfiles/thirdparty-software/

# // /////////////////////////////////////////////////////////////////////////////
# // other
# // /////////////////////////////////////////////////////////////////////////////

todo.TODO
todo-tmp.TODO
reorganization-first-draft.txt
scripts.TODO
.vscode/
notes.txt
